.header {
  display: flex;
  align-items: center;
  //background-color: var(--purple-200);

  [id = burger] {
    margin-left: 15px;
  }

  [id = pageName] {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}