* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

:root {
	--white: #FFF;
	--black: #000;

	--purple-500: #62279D;
	--purple-200: #5C68AC;
	--green: #53A29E;
	--blue: #32ABBD;
	--gray-200: #4C5370;
}

button {
	cursor: pointer;
}

body {
	background: var(--white);
}