.baseStyle {
  height: 35px;
  border-radius: 4px;
  align-items: center;
  padding-left: 10px;
  border: 1px solid rgb(206, 212, 218);
  font-size: 15px;
  //font-family: var(--input-font-family, var(--mantine-font-family));
  //font-size: var(--mantine-font-size-md);

  &:focus {
    border-width: 1px;
    border-color: var(--purple-200);
  }
}

.select {
  @extend .baseStyle;
}

.input {
  @extend .baseStyle;
}

.label {

}