.ButtonPallet {
  margin-bottom: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-right: 5px;
  }
}

.ContainerDataGrid {  
  margin: 0px 15px 0px 15px;
  //height: 100%;
}